# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim
.*.swp

# CLion
.idea

# CMake Output (build directories)
cmake-build-*
build

# Eclipse
.cproject
.project
.settings

